@import '../colors';
@import '../media';

.list-group-item {
  &:focus {
    outline: 0;
    border-color: $user-color;
  }
}

.dropdown-menu {
  top: -15px !important;
  max-height: 50vh;
  overflow: auto;
}

.dropdown-item {
  font-size: 0.85rem;

  &:focus {
    outline: 0;
    border-color: $receiver-color;
  }
}

.list-group {
  button {
    font-size: 0.8rem;
    word-break: normal;
    word-wrap: break-word;
  }
}

.list-group-item.active {
  background-color: $user-color !important;
  border-color: $user-color !important;
}

.dropdown-item.active {
  background-color: $user-color !important;
}