@import '../colors';
@import '../media';

#messageForm {
  margin-bottom: 0 !important;
  // margin-top: 0.3rem;
}



#roomBtnInput,
#emojiBtnInput,
#sendBtnInput {
  padding: 0 0 !important;
}

.input-group-prepend {
  .input-group-text {
    padding: 0.8rem 0.8rem !important;
  }
}

.dropup {
  button {
    padding: 0.8rem 0.8rem !important;
  }

  .dropdown-item {
    &:focus {
      background-color: $receiver-color;
      border-color: $receiver-color !important;
    }
  }
}

.sticky-footer {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
  background: $user-color;
  position: sticky !important;
  position: -webkit-sticky;
  bottom: 0px;
  z-index: 0;

}



@media #{$tablet} {
  .dropup {
    button {
      padding: 0.6rem 0.6rem !important;
    }
  }

  .input-group-prepend {
    .input-group-text {
      padding: 0.6rem 0.6rem !important;
    }
  }
}