@import '../colors';
@import '../media';
@import '../fonts';

$height: 80vh;

.msgText {
  font-size: 1rem !important;
  word-break: normal;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  white-space: normal;
  line-height: 1.3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 30%;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;

  div {
    audio {
      max-width: 100%;
      margin: 2% auto;
    }

    video {
      max-width: 100%;
      margin: 2% auto;
    }
  }
}

.msgAlt {
  font-size: 1rem !important;
  word-break: normal;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  white-space: normal;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 30%;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;

  .highlight {
    background-color: $text-color;
    // font-style: italic;
    // font-weight: bolder;
    color: $user-color;
    border-radius: 2px;
    padding: 0 5px 0 5px;
    // line-height: 1.5rem;
  }

  div {
    audio {
      max-width: 100%;
      margin: 2% auto;
    }

    video {
      max-width: 100%;
      margin: 2% auto;
    }
  }
}

.badge-user {
  background-color: $user-color;
  margin-bottom: 1rem;
}

.badge-receiver {
  background-color: $receiver-color;
  margin-bottom: 1rem;
}

.msg-link {
  text-decoration: underline;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #fa9440;

}

.msg-img {
  width: 100%;
  margin: 2% auto;
  max-height: 60vh;
  object-fit: contain;
}


@media #{$tablet} {

  .msgText {
    font-size: 0.9rem !important;
    font-weight: bold;
    max-width: 90%;
  }

  .msg-link {
    font-size: 0.9rem !important;
  }

}

@media #{$mobile} {}