@import '../media';

.time {
  font-style: italic;
  font-size: 0.9rem;
}

.user-name {
  font-weight: bold;
  font-size: 0.9rem;
}

@media #{$tablet} {
  .time {
    font-style: italic;
    font-size: 0.9rem;
  }

  .user-name {
    font-size: 1rem;
  }

}

@media #{$mobile} {}