@import '../colors';

.navStyle {
  background-color: $user-color;
  color: $text-color;

  &:hover {
    color: $hover-color;
  }

  &.active {
    color: $hover-color;
  }

  .navbar-brand {
    color: $text-color;
  }
}

.navShadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25) !important
}

.signOut {
  cursor: pointer;
}