$user-color: #0F1626;
$receiver-color: #FF533D;
$text-color: #F5F5F5;

.list-group-item.active {
  background-color: $user-color !important;
  border-color: $user-color !important;
}

.dropdown-item.active {
  background-color: $user-color !important;
}