@import 'styles/colors';

.list-group-item {
  &:focus {
    outline: 0;
    border-color: $user-color;
  }
}

.dropdown-item {
  &:focus {
    outline: 0;
    border-color: $receiver-color;
  }
}

.list-group-item.active {
  background-color: $user-color !important;
  border-color: $user-color !important;
}

.dropdown-item.active {
  background-color: $user-color !important;
}