@import '../src/components/styles/colors';
@import '../src/components/styles/media';
@import '../src//components/styles/fonts';

html {
  // scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  padding-top: 70px;
  min-height: 100vh !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // z-index: 1;
}

.sticky-top {
  position: -webkit-sticky !important;
  z-index: 0;
}

#spacer {
  height: 8vh;
}

.spacer {
  height: 8vh;
}

.white-space {
  min-height: calc(100vh - 86px);
}

.wrapper {
  margin-bottom: 10vh;
}

.btn-true,
.btn-true:hover {
  background-color: $user-color !important;
  color: $text-color;

  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-false,
.btn-false:hover {
  background-color: $receiver-color;
  color: $text-color;

  span {
    font-style: italic;
  }

  // &:active,
  // &:focus {
  //   outline: none !important;
  //   box-shadow: none;
  // }
}

.btn-outline-true {

  border-color: $user-color !important;
  color: $user-color;
  background-color: transparent;

  &:hover {
    color: $text-color;
    background-color: $user-color;
  }

  // &:active,
  // &:focus {
  //   outline: none !important;
  //   box-shadow: none;
  // }
}

.btn-outline-false {
  border-color: $receiver-color !important;
  color: $receiver-color;
  background-color: transparent;


  &:hover {
    color: $text-color;
    background-color: $receiver-color;
  }

  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.searchDisplay {
  background-color: $text-color;
  padding: 10px;
}

.filter-bg {
  background-color: #fff;
  z-index: 1;
}

@media #{$tablet} {

  .welcome {
    font-size: 1.3rem;
  }

  button {
    cursor: pointer;
  }

  .sticky-footer {
    position: sticky !important;
    position: -webkit-sticky;
  }

  #spacer {
    height: 0vh;
  }
}