$tablet: "only screen and (max-width : 999px)";
$user-color: #0F1626;
$receiver-color: #FF533D;
$text-color: #F5F5F5;

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
}

.sticky-top {
  position: -webkit-sticky !important
}

#spacer {
  height: 8vh;
}

.wrapper {
  margin-bottom: 10vh;
}

.btn-true,
.btn-true:hover {
  background-color: $user-color !important;
  color: $text-color;
}

.btn-false,
.btn-false:hover {
  background-color: $receiver-color;
  color: $text-color;
}

@media #{$tablet} {

  .welcome {
    font-size: 1.3rem;
  }

  button {
    cursor: pointer;
  }

  .sticky-footer {
    position: sticky !important;
    position: -webkit-sticky;
  }

  #spacer {
    height: 0vh;
  }
}