@import '../src/components/styles/colors';
@import '../src/components/styles/media';
@import '../src//components/styles/fonts';

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  padding-top: 70px;
  min-height: 100vh !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: 'Poppins', sans-serif;
  ;
}

.sticky-top {
  position: -webkit-sticky !important
}

#spacer {
  height: 8vh;
}

.white-space {
  min-height: calc(100vh - 86px);
}

.wrapper {
  margin-bottom: 10vh;
}

.btn-true,
.btn-true:hover {
  background-color: $user-color !important;
  color: $text-color;
}

.btn-false,
.btn-false:hover {
  background-color: $receiver-color;
  color: $text-color;
}

@media #{$tablet} {

  .welcome {
    font-size: 1.3rem;
  }

  button {
    cursor: pointer;
  }

  .sticky-footer {
    position: sticky !important;
    position: -webkit-sticky;
  }

  #spacer {
    height: 0vh;
  }
}